@import url('https://use.typekit.net/wiz3scy.css');

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eee;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
