@import url('https://use.typekit.net/wiz3scy.css');

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #eee;
	padding: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#tippt {
	background-image: url('./images/tippt-thumbnail.png');
}

#doodlevr {
	background-image: url('./images/doodle-thumbnail.jpg');
}

ol {
	font-family: halyard-display, sans-serif;
	line-height: 2rem;
}

ol li {
	list-style-position: inside;
}
